<!-- stuff that goes inside <head> tag on all pages -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Find a Ride</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>

<style>
html {
    font-size: 2em;
    font-family: arial;
}

h1, h2, h3 {
    background-color: #003366;
    color: #ffffff;
    padding: 0.5em;
}

button {
    background-color: #003366;
    color: #ffffff;
    font-size: 1em;
    margin: 0.25em;
    padding: 0.5em;
}

li {
    color: #003366;
}

input[type=text] {
    font-size: 1em;
}

select {
    font-size: 1em;
    color: #003366;
}
</style>
